<div class="bg-white shadow w-full col-span-5 row-span-1 flex items-center justify-between px-8 z-50">

    <div class="flex items-center h-full ">
        <img src="/logo.png" alt="" class="h-12 mr-2">
        <div>
            <p class="text-sm text-gray-600">Instituto Sociocultural</p>
            <h1 class="font-semibold text-lg text-gray-600">SIDNEY CERDEIRA</h1>
        </div>
    </div>

    <img src="/icons/icons8-usuário-100.png" alt="" class="h-12 hover:border  border-gray-600 rounded-full p-2">

</div>