<div class="bg-white shadow w-full col-span-5 row-span-1 flex items-center justify-between px-8 z-50">

    <div class="flex items-center h-full ">
        <img src="/logo.png" alt="" class="h-12 mr-2">
        <div>
            <p class="text-sm text-gray-600">Instituto Sociocultural</p>
            <h1 class="font-semibold text-lg text-gray-600">SIDNEY CERDEIRA</h1>
        </div>
    </div>
    <div class="flex items-center space-x-5">
        <h2><%= typeof nameUser != 'undefined' && nameUser ? nameUser.toUpperCase() : '' %></h2>
        <button onclick="sair()">
            <img src="/icons/icons8-sair-100.png" alt="" class="h-12 hover:scale-105  p-2" title="sair">
        </button>

    </div>
    

</div>

<script>
    function removerCookie(nome) {
    document.cookie = `${nome}=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;`;
}



    function sair(){
    removerCookie('token');
    window.location.reload()
    }
</script>